{% include "base.html" %}

{% block body %}

<div class="container mt-4">
    <h5>Category</h5>
    
    <a href="{% url "category_add" %}" class="btn btn-primary  active" role="button" aria-pressed="true">Add Category</a>
    <p></p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Department</th>
                <th>Code</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            {% for site in category %}
            <tr>
                <td>{{ site.department }}</td>
                <td>{{ site.category_code }}</td>
                <td>{{ site.category_name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock body %}

