{% include "base.html" %}

{% block body %}


<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="collapse navbar-collapse" id="navbarNav">
            <a class="navbar-brand active" href="{% url "task_view_1" task %}">In-Progress</a>
            <a class="navbar-brand link-warning" href="{% url "task_view_2" task %}">Completed</a>
            <a class="navbar-brand" href="{% url "task_view_0" task %}">Not Started</a>
            <a class="navbar-brand" href="{% url "task_view_3" task %}">Cancelled</a>
    </div> 
</nav>


<h3>Master Task is :{{task_data.0.master_tasks.title}}</h3>
<p></p>
<table class="table">
    <tr>
        <th scope="col">Site</th>
        <th scope="col">Department</th>
        <th scope="col">Category</th>
        <th scope="col">Planogram Name</th>
        <th scope="col">Bays</th>
        <th scope="col">Description</th>
        <th scope="col">Modified Time</th>
        <th scope="col">Deadline</th>
        <th scope="col">Status</th>
    </tr>
    {% for task in task_data %}
    <tr>
        <td>{{ task.site }}</td>
        <td>{{ task.department }}</td>
        <td>{{ task.category }}</td>
        <td><a href = "{% url "task_edit" task.id %}">{{ task.planogram }}</a></td>
        <td>{{ task.bays }}</td>
        <td>{{ task.task_description }}</td>
        <td>{{ task.modified_time|date:"d-m-Y"}}</td>
        <td>{{ task.deadline|date:"d-m-Y"}}</td>
        <td>{{ task.status }}</td>
    </tr>
    {% endfor %}

{% endblock %}