{% include "base.html" %}

{% block body %}

<div class="container mt-4">
    <h5>Department</h5>
    
    <a href="{% url "department_add" %}" class="btn btn-primary  active" role="button" aria-pressed="true">Add Department</a>
    <p></p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Country</th>
                <th>Code</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            {% for site in department %}
            <tr>
                <td>{{ site.country }}</td>
                <td>{{ site.department_code }}</td>
                <td>{{ site.department_name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock body %}

