{% include "base.html" %}

{% block body %}

<div class="container mt-4">
    <h5>Site Data</h5>
    <h6>Country: {{ site.0.country }}</h6>
    <a href="{% url "site_add" %}" class="btn btn-primary  active" role="button" aria-pressed="true">Add Site Data</a>
    <p></p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            {% for site in site %}
            <tr>
                <td>{{ site.site_id }}</td>
                <td>{{ site.site_name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock body %}

